<%= stylesheet_link_tag "sidebar" %>

<div class="side-bar">
    <ul>
        <li>
            <%= link_to "Início", root_path %>
        </li>
        <li>
            <%= link_to "Escolas", schools_path %>
        </li>
        <li>
            <%= link_to "Alunos", "#" %>
        </li>
        <li>
            <%= link_to "Sair", "#" %>    
        </li>
    </ul>
</div>