<div class="school">
    <h1><%= school.name %></h1>
    <hr>
    <br>

    <p class="name"><%= school.name %></p>
    <p class="address"><%= school.address %></p>
    <p class="contact"><%= school.telephone %></p>

    <br>

    <footer class="actions">
        <%= link_to "Voltar", schools_url, class: "button active" %>
        <%= link_to "Editar", edit_school_url(school), class: "button normal" %>
        <%= link_to "Excluir", school, class: "button delete", data: { "turbo-method": "delete" } %>
    </footer>
</div>